@import "_mixin.scss";

.test-mixin {
    @include clearfix();
    background-color: indigo;
    .left_box, .right_box {
        border: 1px solid black;
        height: 100px;
        width: 200px;
        background-color: rgba(red, 0.2);
        float: left;
    }
    .right_box{
        float: right;
    }
}
header{
    @include borders(black);
    @include arrow(top);
}
